- var baseControllerName = `${packageName}Base`;
- var controllerClassName = `${_.upperFirst(_.camelCase((controller.name)))}Controller`;

|// Kiq Config
|
include ../../includes/info.pug

|var #{baseControllerName} = require('#{package.name}').controllers.base;
|
|class #{controllerClassName} extends #{baseControllerName} {
|
|   initialize() {
|
|     // Define your before and after filters here
| 
|     // Before filters are called before reaching the action code
|     // You can choose to 'reply' and halt the action pipeline like this
|     // this.beforeAction(this.preIntent);
| 
|     // Use an after filter to do something post action
|     // this.afterAction(this.postIntent);
|
|   }
|
each action in actions
	|
	|   #{action}( reply, error, req, res, render ) {
	|
	|     reply({
	|       controller: '#{controller.name}',
	|       action: '#{action}',
	|       params: Object.assign({}, req.params, req.query)
	|     });
	|
	|   }
	|
|
|   preIntent( reply, error, req, res, render ) {
|   	reply({message: 'My before action'});
|   }
|
|   postIntent() {
|     console.log({message: 'My after action'});
|   }
|
|}
|
|module.exports = #{controllerClassName};